.filterContainer {
    border-radius: 10px;
    border: 1px solid #dcdcdc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    max-width: 480px;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    align-items: flex-start;
    margin: 0 auto;
    padding: 23px 17px;
  }
  
  .filterHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .filterTitle {
    color: #252b42;
    font: 700 24px/1 Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
    letter-spacing: 0.1px;
  }
  
  .filterIcon {
    width: 28px;
    height: 28px;
  }
  
  .advancedFiltersBtn {
    margin-top: 34px;
    width: 100%;
    max-width: 342px;
  }
  
  .applyBtn {
    margin-top: 10px;
    width: 100%;
    max-width: 342px;
  }