.constraintsList {
    list-style-type: none;
    padding: 0;
    margin: 22px 0;
    font: 400 11px/1 Poppins, sans-serif;
    color: #26203b;
  }
  
  .constraintItem {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
  }
  
  .constraintIcon {
    width: 15px;
    height: 15px;
    margin-right: 8px;
  }
  
  .constraintText {
    flex: 1;
  }