.passwordContainer {
    margin-bottom: 20px;
  }
  
  .passwordLabel {
    color: #696f79;
    font: 500 15px Inter, sans-serif;
    display: block;
    margin-bottom: 14px;
  }
  
  .passwordWrapper {
    border-radius: 6px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 18px 15px;
    border: 1px solid #8692a6;
  }
  
  .passwordInput {
    color: #8692a6;
    font-size: 13px;
    font-weight: 500;
    border: none;
    outline: none;
    width: 100%;
    max-width: 100%;  /* Ensures it doesn't exceed the container width */
  box-sizing: border-box;  /* Ensures padding and border are included in width */
   
  }
  
  .showPasswordButton {
    color: #000;
    font-size: 11px;
    font-weight: 400;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: -60px;
  }

  @media (max-width: 991px) {
    .passwordWrapper {
     width: 80%;
      
    }
}