.eventCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--Text-Colour-2, #2b2b2b);
    font: 500 16px Poppins, sans-serif;
  }
  
  .imageWrapper {
    position: relative;
    width: 100%;
    border-radius: 30px;
  

    
  }
  
  .eventImage {
    width: 50%;
    height: auto;
    object-fit: cover;
  }
  
  
  .eventTitle {
    font-size: 28px;
    font-weight: 600;
    margin-top: 10px;
    font-size: clamp(18px, 2vw + 1rem, 28px);
  }
  
  .eventDate {
    font-size: 19px;
    margin-top: 0px;
    font-size: clamp(14px, 1.5vw + 0.5rem, 19px);
  }
  
  .eventLocation {
    color: var(--Text-Colour-3, #808080);
    font-weight: 400;
    line-height: 2;
    margin-top: 5px;
    font-size: clamp(14px, 1.5vw + 0.5rem, 19px);
  }
  
  .viewDetails {
    font-style: italic;
    line-height: 2;
    text-decoration: underline;
    margin-top: 5px;
    color: inherit;
    font-size: clamp(14px, 1.5vw + 0.5rem, 19px);
  }
  
  @media (max-width: 991px) {
    .eventCard {
      margin-top: 10px;
    }
    .eventImage{
        width: 80%;
        max-width: 350px;

    }
    .eventTitle {
        
        margin-top: 0px;
      }
    
     /* Limit the size of the image on smaller screens */
  .imageWrapper {
    width: 100%; /* Adjust this value as needed */
    aspect-ratio: 1; /* Retain aspect ratio */
    margin: 0 auto;
  }
  
  }