.interestTagsContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tagLabel {
  color: #000;
  font: 400 16px Poppins, sans-serif;
}

.tagWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag {
  border-radius: 119px;
  background-color: #f2f4f7;
  color: #4b4b4b;
  font: 500 14px Inter, sans-serif;
  padding: 10px 12px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tag:hover {
  background-color: #e0e0e0;
}

/* Selected tag style */
.selected {
  background-color: #02a1f9; /* Blue color when selected */
  color: #fff; /* White text on selected tag */
}
