.textAreaContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .textAreaLabel {
    color: #000;
    font: 400 16px Poppins, sans-serif;
  }
  
  .textAreaField {
    border-radius: 8px;
    border: 1px solid #bdbdbd;
    background-color: #fff;
    padding: 12px;
    font: 400 14px Helvetica Neue, -apple-system, Roboto, Helvetica, sans-serif;
    color: #333;
    min-height: 150px;
    resize: vertical;
  }
  
  .textAreaField::placeholder {
    color: #c4c4c4;
  }