.button {
    border-radius: 30px;
    font: 600 14px/24px Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
    letter-spacing: 0.2px;
    text-align: center;
    padding: 10px 20px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .primary {
    background-color: #02a1f9;
    color: #fff;
    border: none;
  }
  
  .primary:hover {
    background-color: #0288d1;
  }
  
  .secondary {
    background-color: #f1f1f1;
    color: #02a1f9;
    border: none;
  }
  
  .secondary:hover {
    background-color: #e0e0e0;
  }