.container{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 1400px;
margin: 0 auto;
margin-top: 50px;
align-items: center;
margin-bottom: 100px;
align-items: center; /* Center all child elements horizontally */
background-color: white;



}

.content{
  background-color: white;
}

.interest{
  width: 100%;          /* Optional: adjust width as needed */
  display: flex;
  justify-content: center; 

}

.button{
  margin-left: 300px;
}

@media (max-width: 991px) {
  .container{
    max-width: 800px;
    padding-bottom: 50px;
    padding-top: 20px;
   
  }
}
