.teamSection {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 69px 0 141px 150px;
    border: 1px ;
  }
  
  @media (max-width: 991px) {
    .teamSection {
      padding: 0 0 100px 20px;
    }
  }
  
  .content {
    align-self: flex-end;
    display: flex;
    margin-top: 128px;
    width: 100%;
    max-width: 1311px;
    flex-direction: column;
    justify-content: center;
  }
  
  @media (max-width: 991px) {
    .content {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  
  .sectionHeader {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
  
  @media (max-width: 991px) {
    .sectionHeader {
      max-width: 100%;
    }
  }
  
  .labelWrapper {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 12px;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  
  @media (max-width: 991px) {
    .labelWrapper {
      max-width: 100%;
    }
  }
  
  .iconLabel {
    border-radius: 8px;
    background-color: rgba(40, 241, 157, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    padding: 0 6px;
  }
  
  .icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
  
  .labelText {
    color: #1f1f1f;
    text-transform: capitalize;
    font: 400 18px Poppins, sans-serif;
  }
  
  .sectionTitle {
    color: #1f1f1f;
    text-transform: capitalize;
    margin-top: 12px;
    font: 600 45px Poppins, sans-serif;
  }
  
  @media (max-width: 991px) {
    .sectionTitle {
      max-width: 100%;
      font-size: 40px;
    }
  }
  
  .teamGrid {
    display: flex;
    margin-top: 62px;
    width: 100%;
    max-width: 1182px;
    gap: 20px;
    font-family: Poppins, sans-serif;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  @media (max-width: 991px) {
    .teamGrid {
      max-width: 100%;
      margin-top: 40px;
    }
  }