.trustedCompanies {
    display: flex;
    flex-direction: column; /* Stacks elements vertically */
    align-items: center;
    width: 100%;
    max-width: 1287px;
    align-items: center; /* Center-aligns the entire section */
    gap: 34px;
    color: #808080;
    text-align: center;
    font: 500 16px Poppins, sans-serif;
    flex-wrap: wrap;
    margin: 0 auto;
   
    

  }
  
  @media (max-width: 991px) {
    .trustedCompanies {
      max-width: 100%;
    }
  }
  
  .decorativeImage {
    aspect-ratio: 200;
    object-fit: contain;
    width: fit-content;
    stroke-width: 2px;
    stroke: #ededed;
    flex-grow: 0;
    flex-basis: 0;
    margin: auto 0;
  }
  
  .textWrapper {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: auto;
    
  }
  
  @media (max-width: 991px) {
    .textWrapper {
      max-width: 100%;
    }
  }
  
  .trustedText {
    flex-grow: 1;
    flex-basis: auto;
  }
  
  @media (min-width: 991px) {
    .trustedText {
      max-width: 100%;
      justify-content: center; /* Centers the text horizontally */
    align-items: center; /* Centers text and any icons vertically */
    width: 100%; /* Ensures it spans the container width */
    }
  }
  
  .companyLogos {
    align-self: center;
    display: flex;
    margin-top: 30px;
    width: 977px;
    align-items: center;
    gap: 70px;
    justify-content: center; /* Centers the logos within the container */
    padding-left: 100px;
    flex-wrap: wrap;
    max-width: 100%; /* Ensures full width for responsiveness */
    padding-left: 0; /* Remove left padding */
  }
  
  .logo1 {
    aspect-ratio: 1.7;
    object-fit: contain;
    width: 141px;
    align-self: stretch;
    max-width: 100%;
  }
  
  .logo2 {
    aspect-ratio: 1.67;
    object-fit: contain;
    width: 102px;
    align-self: stretch;
    max-width: 100%;
    margin: auto 0;
  }
  
  .logo3 {
    aspect-ratio: 0.95;
    object-fit: contain;
    width: 55px;
    align-self: stretch;
    margin: auto 0;
  }
  
  .logo4 {
    aspect-ratio: 1.15;
    object-fit: contain;
    width: 67px;
    align-self: start;
    margin-top: 4px;
  }
  
  .logo5 {
    aspect-ratio: 3.75;
    object-fit: contain;
    width: 221px;
    align-self: stretch;
    max-width: 100%;
    margin: auto 0;
  }