.box {
    height: 313px;
    width: 1326px;
  }
  
  .box .group {
    height: 313px;
    left: 0;
    position: fixed;
    top: 0;
    width: 1326px;
  }
  
  .box .overlap-group {
    border-radius: 24.55px;
    height: 313px;
    position: relative;
  }
  
  .box .dialog {
    align-items: flex-start;
    background-color: #ffffff;
    border-radius: 24.55px;
    box-shadow: 0px 0px 0px 6.14px #0000000a, 0px 0px 0px 3.07px #00000014;
    display: flex;
    flex-direction: column;
    gap: 49.1px;
    height: 313px;
    left: 0;
    overflow: hidden;
    padding: 36.82px;
    position: absolute;
    top: 0;
    width: 1326px;
  }
  
  .box .content {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 24.55px;
    position: relative;
    width: 100%;
  }
  
  .box .message {
    align-self: stretch;
    color: #000000;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 27.6px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 43.0px;
    margin-top: -1.53px;
    position: relative;
  }
  
  .box .title {
    color: #000000;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 36.8px;
    font-weight: 700;
    left: 37px;
    letter-spacing: 0;
    line-height: 49.1px;
    position: absolute;
    text-align: center;
    top: 77px;
    width: 1252px;
  }
  
  .box .button {
    all: unset;
    align-items: center;
    background-color: #02a1f9;
    border-radius: 46.03px;
    box-sizing: border-box;
    display: flex;
    gap: 12.27px;
    justify-content: center;
    left: 569px;
    overflow: hidden;
    padding: 12.27px 24.55px;
    position: absolute;
    top: 215px;
    width: 188px;
  }
  
  .box .label {
    color: #ffffff;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 24.5px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 36.8px;
    margin-top: -3.07px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .box .x-instance {
    height: 37px !important;
    left: 1255px !important;
    position: absolute !important;
    top: 26px !important;
    width: 37px !important;
  }
  