.chancely-new {
  display: flex;
  flex-direction: row;
  height: 100vh; /* Full viewport height */
}

.chancely-new .left-side {
  flex: 1;
  background: linear-gradient(rgba(86, 199, 216, 0.5) ,rgba(56, 246, 164, 0.5)),url(https://c.animaapp.com/DvWBMqHZ/img/frame-1.png) center/cover no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chancely-new .left-side .text-wrapper {
  color: #ffffff;
  font-family: "Inter", Helvetica, sans-serif;
  font-size: 140px;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
}

.chancely-new .right-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  position: relative;
}

@media (max-width: 991px) {
  .chancely-new {
    flex-direction: column;
  }

  .chancely-new .left-side {
    display: none; /* Hide left-side background on small screens */
  }

  .chancely-new .right-side {
    width: 100%;
    padding: 40px;
  }
}
